*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    width: 800px;
    max-width: 80%;
    height: 300px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
}



.btn-grid{
    display: flex;
    justify-content: space-between;
    
}




.hide{
    display: none;
}